html {
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inder";
    /* outline: thin solid; */
}
body{
    /* width: 100%;    */
    height: 100vh;
    overflow-x: hidden;
    background-color: #f8f8f8;
}
.container-main {
    /* border: thin solid red; */
    width: 100%;
    min-width: 60%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
}
.main {
    width: 79%;
    height: 100vh;
    padding-top: 2rem;
}
/*----------------------------sidebar----------------------------------------------------*/
.slidebar {
    position: fixed;
    left: 0;
    width: 250px;  /* 250px */
    height: 100%;
    /* overflow: hidden; */
    padding: 2rem;  /* 20px */
    background-color: white;
    color: #263238;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease;
}

.slidebar-mini {
    width: 80px;  /* 80px */
}

.menu-btn{
    position: absolute;
    z-index: 998;
    top: 4vh;
    right: -1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: right 0.3s ease;
}

/* .menu-btn ion-icon{
    font-size: 1rem;
} */
.btn-task-mini{
    right: -3vw;  
}
.btn-task-mini svg{
    transform: rotate(180deg);
}

.span{
    width: 100px;  /* 100px */
    white-space: nowrap;
    font-size: 1.6rem;  /* 16px */
    text-align: left;
    
    padding-top: 0.3rem;  /* 3px */
    /* color: grey; */
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}
/* .span ion-icon {
    color: grey;

} */
.ocult {
    opacity: 0;
    width: 0;
}

.namePage {
    width: 100%;
    height: 45px;  /* 45px */
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.logo {
    width: 45px;  /* 40px */
    border-radius: 50%;
    cursor: pointer;
}

.titleSpan{
    margin-left: 1.6rem;  /* 10px */
    font-size: 2rem;
}

/*------------------- Boton crear tarea--------------- */
.btn-task-sider {
    width: 100%;
    height: 45px;  /* 45px */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;  /* 10px */
    font-size: 2rem;
    background-color: #218625;
    color: white;
    cursor: pointer;
}

/* .btn-task ion-icon {
    min-width: 50px;
    white-space: nowrap;
    font-size: 2.5rem; 
} */

/*------------------- Menu de navegacion--------------- */
.nav {
    margin-top: 3rem;
    /* color: rgb(66, 65, 65); */
}

.nav-item{
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 1rem;
    list-style: none;
}

.nav a {
    width: 100%;
    height: 45px;  /* 45px */
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;  /* 10px */
    color: black;
}

.nav a:hover {
    background-color: #218625;
    color: white;
}
.nav svg:hover {
    /* background-color: #218625; */
    fill: white;
}

/* .nav ion-icon {
    min-width: 40px; 
    font-size: 1.5rem;  
    margin-right: 0.5rem;
} */

.ul-2 {
    margin-top: 7rem;
}
.nav svg{
    min-width: 40px; 
    color: rgb(62, 62, 62); /* Color normal */
    transition: color 0.3s ease;
}
.nav span { 
    margin-left: 1rem;
}
/*------------------------ hover----------------------*/
.slidebar.slidebar-mini .nav-item:hover {
    overflow: visible;
    
}
.slidebar.slidebar-mini .nav-item:hover .span-hover {
    position: absolute;
    width: auto;
    opacity: 1; 
    left: 4vw;
    padding: 0.5rem;
    white-space: nowrap;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: black;
    color:  white;
    /* transform: translateY(-50%); */
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);

}
/* .slidebar.slidebar-mini .nav-item .span {
    width: 0;
} */
/* .slidebar.slidebar-mini .nav-item:hover span {
    opacity: 1;
    color: white;
    padding-left: 0.5rem;
    top: 50%;
    border-radius: 5px;
} */

/*------------------- Boton usuario--------------- */
.user-btn {
    width: 100%;
    display: flex;
    margin-top: 7rem;
}

.user__photo {
    width: 50px;  /* 50px */
    height: 50px;  /* 50px */
    min-width: 50px;  /* 50px */
    border-radius: 50%;  /* 10px */
    object-fit: cover;
    object-position: center;
}

.user_info{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.7rem;  /* 7px */
    font-weight: 600;
}

.nombre{
    width: 100%;
    font-size: 1.5rem;  /* 15px */
}

.email {
    width: 100%; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; /* Agrega esto */
    color: rgb(128, 128, 128);
    font-size: 1.2rem;  /* 13px */
}
.user-icon {
    /* border: thin solid red; */
    width: 3rem;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    /* font-weight: bold; */
    cursor: pointer;
}
.slidebar.slidebar-mini .user-icon-img{
    opacity: 0;
}
/*----------------------------fin - sidebar----------------------------------------------------*/
/* ------------------------------------------------------ boton de agregar tarea */
.headers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-main{
    margin: 2rem 0;
    color: rgb(38, 50, 56);
}
/* .addTask {
    width: 30%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
} */
/* .addTask img {
    width: 2rem;
    height: 2rem;
} */
/* .addTask button {
    border: none;
    width: 95%;
    text-align: start;
    padding-left: 2rem;
    background-color: #ffffff;
    color: #B1B1B1;
    cursor: pointer;
} */
/* ------------------------------------------------------ panel de agregar tarea */

.task-form {
    position: fixed;
    z-index: 999;
    width: 34rem;
    top: 1vh;
    right: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
    border-bottom: thin solid #606060;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0rem 0rem 1rem 0rem #606060;
    transform: translate(150%, 0);
    transition: transform 0.3s ease;
}
.isActive{
    /* display: flex; */
    transform: translate(-4%,0);

}
.task-form legend{
    font-size: 2rem;
    align-self: flex-start;
    padding-left: 2rem;
    color: #505050;
}
.title-task {
    width: 90%;
    height: 5rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    border: none;
    font-size: 1.3rem;
    background-color: #eeeeee;
}
.title-task:focus {
    outline: none;
}
.description-task{
    width: 90%;
    height: 15rem;
    padding: 1rem 0 0 2rem;
    border: none;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    resize: none;
    outline: none;
}
.buttons {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.buttons button{
    width: 10rem;
    height: 3rem;
    background-color: #16C47F;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.buttons button:hover{
    background-color: #ffffff;
    color: #16C47F;
}
.buttons button:last-child{
    background-color: #F93827;
}
.buttons button:last-child:hover{
    background-color: #ffffff;
    color: #F93827;
}
.button-cancel {
    width: 75%;
    height: 3rem;
    color: #565656;
    border: thin solid #b6b6b6;
    background-color: #b0b0b0;
    border-radius: 5px;
    cursor: pointer;
}
.button-cancel:hover {
    color: #5c5c5c;
    background-color: #ffffff;
    border: none;
}

/* ------------------------------------------------------ Listado de tareas */
/* hr {
    border: none;
    height: 1px;
    background-color: #b0b0b0;
    margin-bottom: 2rem;
} */
.task-list {
    max-width:50%;
    height: 85vh;
    padding-top: 1rem;  
    border-top: thin solid #b0b0b0;
    overflow-y: auto;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;
}
.task-list::-webkit-scrollbar {
    display: none;
}
/*--------------------------------------------------------- vista de tareas*/
.task-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 1.5rem 1rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    border-bottom: thin solid #d3d3d3;
}
.task {
    width: 90%;
    padding-left: 1rem;
    color: rgb(38, 50, 56);
} 
.task p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 0.5rem;
    color: rgb(38, 50, 56);
}
.completed {
    /* background-color: #ccc; */
    opacity: 0.5;
    text-decoration: line-through;
}
.btn-edit{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.task-container img {
    width: 2rem;
}
.mensaje {
    font-size: 1.6rem;
    color: rgb(65, 65, 65);

}
/*--------------------------------------------------------- Barra de progreso*/
.progress {
    position: absolute;
    right: 3vw;
    top: 30vh;
    width: 46rem;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px -1px rgb(0, 0, 0, 0.15),
                -3px -3px 5px -1px rgb(0, 0, 0, 0.15);
    /* box-shadow: 6px 6px 10px -1px rgb(0, 0, 0, 0.15),
-6px -6px 10px -1px rgb(0, 0, 0, 0.15); */
}
.progress h2{
    text-align: center;
    /* margin-top: 2rem; */
    margin-bottom: 3rem;
}
.progress-container {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
}
/* .svg {
    transform: rotate(-90deg);
} */
/* Animación suave */
#progress-circle {
    transition: stroke-dashoffset 1s ease-in-out;
}
.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}
/*---------------------------------------------------- estilos en el checkbox*/

input[type="checkbox"] {
    appearance: none;
}
input[type="checkbox"] + .newCheckbox::before {
    content: "\2713";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 10px auto;
    border: thin solid #d3d3d3;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    color: transparent;
    cursor: pointer;
}
input[type="checkbox"]:checked +.newCheckbox::before {
    border: thin solid #218625;;
    color:  #218625;;
}
