:root{
    --color-main: #93EB96;
    --color-form:#59ED5E;
    --color-footer: #BFE9A5;
    /* --color-buttom:#FCCA4C; */
    --color-color-buttom: #218625;
    --color-tittle: #073509;
    --color-sesion: #F0F0EC;
    --font-size: "Inder";
}
/* Reseteo de propiedades por defecto */
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--font-size);
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* outline: thin solid; */

}
body{
    font-size: 1.6rem;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

/* ---------------------------------------Inicio de los estilos de Tiddi---------------------------------------- */
/* ---------------------------------------Tiddi header---------------------------------------- */
.header{
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    height: 10vh;
    padding-left: 5rem;

    transition: background-color 0.5s ease-in-out;
}
.header-nav{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.nav-logo{
    width: 120px;
}
.nav-items{
    display: flex;
    list-style-type: none;
}

.item-link{
    margin-right: 4rem;
    color: var(--color-tittle);
    font-size: 2rem;
    text-align: center;
}
.item-link:hover{
    text-shadow: 0 0 1px #073509;
}
/* ---------------------------------------Estilos de inicio de sesion-------------------------------- */
.registro-contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    background-color: var(--color-sesion);
}
.registro {
    display: flex;
    width: 55%;
    min-width: 611.250px;
    height: 80vh;
    border-radius: 35px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

}
.registro-mensaje {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 5rem    ;
    border-radius: 35px 120% 120% 35px;
    background-color: var(--color-form);

}
.contenido-logo-registro {
    width: 60%;
    align-self: flex-start;
    padding-left: 4rem;
    padding-bottom: 5rem;
}
.registro-mensaje h2 {
    display: block;
    padding-left: 5rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 500;
    color: var(--color-tittle);
    align-items: center;
}
.registro-mensaje p {
    display: block;
    padding-left: 5rem;
    padding-right: 4rem;
    font-size: 2rem;
    color: var(--color-tittle);
    align-items: center;
}

/* -------------------------------- Estilos de formulario------------------------------ */

.registro-acceso {
    width: 50%;
}
.registro-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.registro-form h2{
    font-size: 3rem;
}
/* .nameRegistro,
.emailRegistro, 
.passwordUno, .passwordDos{ */
.registro-form input{
    /* width: 70%; */
    height: 35px;
    padding-left: 2rem;
    border: none;   
    background-color: var(--color-sesion);
    font-family: var(--font-size);
    outline: none;
    /* border: thin solid red ; */
}
.nameRegistro,
.emailRegistro {
    width: 70%;
    margin-top: 1rem;
    /* height: 35px; */
} 
/* .passwordUno, .passwordDos{

} */
.registro-form input[type="submit"]{
    width: 40%;
    height: 30px;
    padding: 0;
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--color-color-buttom);
    font-family: var(--font-size);
    color: white;
    cursor: pointer;
} 
.bton-registro {
    width: 40%;
    height: 30px;
    padding-top: 0.5rem;
    border-radius: 10px;
    font-family: var(--font-size);
    font-size: 1.3rem;
    text-align: center;
    color: #073509;
    border: #073509 solid 1px;
    background-color: none;
}
.testFail {
    width: 70%;
    font-size: 1.2rem;
    color: #ff0000  ;
    margin-top: 0.5rem;
}
/* manejo de la visualizacion de contraseña */
.password-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 37px;
    padding-right: 1rem;
    margin-top: 1rem;
    background-color: var(--color-sesion);
}
.password-container img {
    width: 10%;
    cursor: pointer;
    object-fit: cover; /* recorta si es necesario */
}
.passwordUno, .passwordDos{
    width: 90%;
    /* height: 100%; */
    /* padding-left: 1rem; */
    border: none;   
    background-color: transparent;
    font-family: var(--font-size);
    border: thin solid red ;
}
.eye-close, .eye-open {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 10%;           /* Puedes ajustar este tamaño según tu diseño */
    height: 35px;         /* Debe tener altura para verse */
    display: inline-block;
    cursor: pointer;
}
.eye-close {
    background-image: url("../assets/eye-closed-svgrepo-com.svg");
}
.eye-open {
    background-image: url("../assets/eye-svgrepo-com.svg");

}
/*  */
.registro-form input[type="submit"]:hover {
    font-weight: bold;
} 
.bton-registro:hover {
    font-weight: bold;
} 
.enlace{
    /* color: var(--color-tittle);
    font-size: 1.4rem;
    margin: 1rem 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* Espacio entre el texto y las líneas */
    font-size: 1.4rem;
    color: var(--color-tittle);
    margin: 1rem 0;
    text-decoration: none; /* Quita el subrayado del enlace */
}
.enlace-linea1::after,
.enlace-linea1::before{
    content: "...........";
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-tittle);
    color: white;
}
.enlace-linea2::after,
.enlace-linea2::before{
    content: "....................";
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-tittle);
    color: white;
}



.redes{
    display: flex;

}
.redes a {
    margin-right: 2rem  ;
}
.redes-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 15rem;
    height: 50px; */
    padding: 0.5rem 1rem;
    border: thin solid;
    border-radius: 25px;
    color: black;
}
.redes-icon:hover{
    transform: scale(1.02);

}
.redes-icon img{
    /* width: 3.7rem; */
    margin-right: 2rem;
}

/* validaciones */
.formulario-error {
    margin-top: 0rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    background-color: white;
    margin-bottom: 1rem;
    color: red;
    transition: all 800ms ease;
}
.none {
    display: none;
}
.formulario-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}
@keyframes show-message {
    0% {
      visibility: hidden;
      opacity: 0;
    }
  
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

/* -----------------------------------------------------------------------------------------------Toast */
.toastBox {
    position: absolute;
    z-index: 999;
    right: 30px;
    top: 30px;
    
}
.toast {
    position: relative;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}
.svgToast {
    margin: 0 2rem 0 2rem;
}
.toast::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: var(--color-color-buttom);
    animation: anim 5s linear forwards;
}
@keyframes anim {
    100% {
        width: 0;
    }
}