/* html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
    */
/* body {
    background-color: #3F7D58;

}  */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
    /* border: thin solid red; */
}
/* Estilos para el desplazamiento de fechas */
.desplazarFecha{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    /* align-self: flex-start; */
}
button {
    border: none;
    margin: 0 1rem;
    background-color: transparent;
    cursor: pointer;
}
.flecha {
    color: white;
    background-color: grey;
}
.flecha:hover {
    color: black;
}
.mesActual{
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
.SemanaActual{
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
/* Estilos para los encabezados de los dias de la semana */
.calendario__diasSemana{
    width: 96%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* border: thin solid red; */
    margin-bottom: 1rem;
    /* margin: 0 0.2rem 1rem 0.2rem; */
}
.calendario__diaSemana{
    text-align: center;
}
.calendario__diaSemana h4{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
.semana__dia {
    min-width: 100px;
    max-width: 170px;
    padding: 0 0.5rem 0 0.5rem;
}
/* Estilos para los dias del mes */

.calendario {
    width: 96%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    gap: 0.5rem;
    padding: 0.3rem;
    background-color: white;

}
.calendario__dia {
    position: relative;
    min-width: 148px;
    min-height: 76.5625px;
    max-height: 99.8438px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    text-align: center;
    list-style: none;
    border: thin solid grey; 
    padding: 0.5rem;
}
.calendario__dia h5{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #218625; */
    /* padding-top: 0.5rem; */
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    /* border: thin solid red; */
    border-radius: 50%;
} 
.evento {
    display: flex;
    background-color: #ADD8E6;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
    cursor: pointer;
}
.evento__content{
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
}
.check__tareaSemana{
    appearance: none;
}
.check__tareaSemana + label::before{
    border: thin solid #218625;
    content: "\2713";
    border-radius: 50%;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    text-align: center;
    line-height: 1rem;
    color: transparent;
}
.check__tareaSemana:checked + label::before{
    color: #218625;
}
.eventos_semana{
    width: 100%;

}
/*  */
.evento__extra {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    background-color: #e0e0e0;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
    text-align: center;
    cursor: default;
    margin-top: 2px;
}
/* --------------------------------------- Estilos para la vista de semana */
.semana {
    width: 96%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    padding: 0.3rem;
    background-color: white;
    
}
.semana__dia{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    /* border: thin solid rgb(204, 204, 204);  */
}
.semana__dia h5 {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    /* border: thin solid red; */
    border-radius: 50%;
}
.semana {
    width: 96%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    gap: 0.5rem;
    padding: 0.3rem;
    background-color: white;
}
.eventos{
    width: 100%;
    max-height: 58px;
    /* border: thin solid red; */
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
}
/* --------------------------------------- Estilos para la vista de semana */
.diaActual {
    font-size: 1.6rem;
    font-weight: bold;
}
.hoy {
    /* width: 3rem;
    height: 3rem;*/
    background-color: #218625; 
    color: #ffff;
    font-weight: bold;
    /* border-radius: 50%; */
}
